{% extends '::frontend.html.twig' %}

{% block id 'usuario' %}
{% block title %}Registrate gratis como usuario{% endblock %}

{% block article %}

    <h1>{{ block('title') }}</h1>
        {{ form(formulario) }}
{% endblock %}

{% block aside %}
{% endblock %}